@font-face {
    font-family: 'FiraCode';
    src: url('fonts/FiraCode-Bold.ttf');
}

/* 1. THE EXPERIMENTAL CSS PROPERTY (CRITICAL FOR ANIMATION) */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

body {
    background-color: hsl(243, 84%, 5%);
    color: white;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='20' style='fill:white;'><circle cx='5' cy='5' r='5'/></svg>"), auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgba(8, 8, 52, 0.365);
    color: rgb(48, 48, 211);
    text-align: center;
    font-size: 3em;
    padding: 10px 30px;
    margin: 60px auto 20px auto;
    width: fit-content;
    border: 4px solid rgb(45, 0, 149);
    border-radius: 10px;
    transition: all 0.25s ease;
}

header:hover {
    background-color: rgb(48, 48, 211);
    color: rgb(8, 8, 52);
    border: 4px solid rgb(16, 75, 236);
}

.box {
    margin: 100px auto;
    padding: 35px;
    width: 800px;
    min-height: 45vh;
    background-color: rgb(14, 14, 103);
    border-radius: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'FiraCode', monospace;
    font-size: 1.5em;
    box-shadow: 6px 6px 10px rgba(23, 46, 160, 0.642), -6px -6px 10px rgba(23, 46, 160, 0.642);
}

.box::after,
.box::before {
    content: '';
    position: absolute;
    height: 101.5%;
    width: 101.5%;
    background-image: conic-gradient(from var(--angle), #ff4797, #1e4efc, #72f9e2, #fa6fab);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 18px;
    animation: 3s spin linear infinite;
}


.box::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.box:hover::after {
    animation-duration: 1.5s;
}

strong {
    color: #00ffcc;
    text-shadow: 0 0 10px rgba(0, 255, 204, 0.5);
}